AI Agents/n8n/Ultimate AI Assistant/OPERATIONS__Research_Agent.json
{
  "name": "OPERATIONS: Research Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Overview\n* finds information\n* condenses and summarizes it \n* formats it to respond with\n\n### Setup Guide\n- [ ] Adjust all 3 Agent prompts\n- [ ] Setup sub workflow (Tavily Search NEWS)\n- [ ] Select Tavily Search inside of the tool attached to the first agent",
        "height": 280,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -420
      ],
      "typeVersion": 1,
      "id": "cd86cb4b-56c7-4ff3-b91d-c597dbfb71e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are to compile information on the following topic. Do not worry about summarizing the information, just get relavent information about the topic.\n\nYou have access to...\n- Web Search Tool: which retrieves up to date information on a topic, so prioritize this over the other tool\n- Wikipedia: less relevant information but can still be helpful\n\nTopic: {{ $json.infoForResearch }}\n\n\nToday's date is {{ $now }}",
        "options": {
          "systemMessage": "You are a research specialist, who is in charge of getting as much information as possible on a given topic.\n\nYou work for a leading eCommerce store who sells technology, so you should get information that is related to both the topic from the user and in the context of an eCommerce store who sells technology."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "4dc4e81f-847f-4f3d-8a9f-4e6c2c70ff72",
      "name": "Information Collection"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Organize and condense the following information to make it easy for the user to understand as quickly as possible.\n\nInformation:\n {{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert of taking loads of information and condensing and organizing it to make it super easy for a human to understand."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        0
      ],
      "id": "92a9e314-6046-4a90-9d31-ad8977778b49",
      "name": "Synthesizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Form the following organized and condensed information into an appropriate response to the user.\n\nYou should respond in less than 3,000 characters, using bullet points and brief statements to most efficently communicate the information below.\n\nInformation:\n{{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert at communicating complicated and technical information to general audiences that have limited knowledge on the topic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        940,
        0
      ],
      "id": "b3ac2e11-f963-4e2e-bd57-ca1d1c939a98",
      "name": "Response"
    },
    {
      "parameters": {
        "name": "Web_Search_Tool",
        "description": "call this tool to perform a search on the web",
        "workflowId": {
          "__rl": true,
          "value": "d0AXhpO7lsh9hGTe",
          "mode": "list",
          "cachedResultName": "Tavily - Web Search NEWS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "searchPrompt": "={{ $fromAI(\"InformationTosearch\") }}"
          },
          "matchingColumns": [
            "searchPrompt"
          ],
          "schema": [
            {
              "id": "searchPrompt",
              "displayName": "searchPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "id": "9743454e-940d-40f4-8982-ee2f16660f61",
      "name": "Tavily Search"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "id": "f3878552-f299-49a5-ab1d-48fd77253daf",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        200
      ],
      "id": "12b2780a-34f6-4be0-8cd5-bf149743ca2a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        200
      ],
      "id": "a055cbc7-598e-4f93-b943-28d7b439c95e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        200
      ],
      "id": "22b896cc-f300-4b71-91b2-cf1e94822825",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Collect Info.\n* can also specify \"about _enter topic_\"",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        -80
      ],
      "typeVersion": 1,
      "id": "bf96b96d-0830-4fd7-97ee-8b9f4939800a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Summarize Info.\n* System Prompt: can enter industry or broad topic",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -80
      ],
      "typeVersion": 1,
      "id": "37c8309b-4cfe-4865-b405-1e14a38e9696",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Form Response\n* add how to format response (ie. \"respond in bullet points\")",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        -80
      ],
      "typeVersion": 1,
      "id": "6274a044-af55-4e24-abcd-5c25807ebeb4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "infoForResearch"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        0
      ],
      "id": "73318f38-dbf8-45eb-8ebf-361cdaa753c8",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Information Collection": {
      "main": [
        [
          {
            "node": "Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesizer": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "Information Collection",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Information Collection",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Collection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Synthesizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Information Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1cd7dcab-7e33-48f9-a2c9-46b3e1d458a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "OnQhSRENxMnBgxuF",
  "tags": []
}