AI Agents/n8n/Research Agent/Research Agent.json
{
  "name": "Research Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Overview\n* finds information\n* condenses and summarizes it \n* formats it to respond with\n\n### Setup Guide\n- [ ] Create Telegram account\n- [ ] Create & connect Telegram bot\n- [ ] Adjust all 3 Agent prompts\n- [ ] Setup sub workflow (Tavily Search NEWS)",
        "height": 280,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -420
      ],
      "typeVersion": 1,
      "id": "a796ccf8-59fe-4047-b4bf-01cd45ee2995",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "598670da-2007-422a-8ae8-73cd739caa30",
      "name": "Telegram Trigger",
      "webhookId": "c0dbf425-d246-4a8d-8efd-afdb97556e12",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are to compile information on the following topic. Do not worry about summarizing the information, just get relavent information about the topic.\n\nYou have access to...\n- Web Search Tool: which retrieves up to date information on a topic, so prioritize this over the other tool\n- Wikipedia: less relevant information but can still be helpful\n\nTopic: {{ $json.message.text }}\n\n\nToday's date is {{ $now }}",
        "options": {
          "systemMessage": "You are a research specialist, who is in charge of getting as much information as possible on a given topic.\n\nYou also work for a leading eCommere store who sells dog toys, so you are filtering for information related to the prompt from the user and in the context of an eCommerce store who sells dog toys."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "ec5e7578-c4be-45c2-a8c3-525b4848c77b",
      "name": "Information Collection"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Organize and condense the following information to make it easy for the user to understand as quickly as possible.\n\nInformation:\n {{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert of taking loads of information and condensing and organizing it to make it super easy for a human to understand."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        0
      ],
      "id": "297e4bdf-ffa8-438e-bb9d-3fea3f64b77f",
      "name": "Synthesizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Form the following organized and condensed information into an appropriate response to the user.\n\nYou should respond in less than 3,000 characters, using bullet points and brief statements to most efficently communicate the information below.\n\nInformation:\n{{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert at communicating complicated and technical information to general audiences that have limited knowledge on the topic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        940,
        0
      ],
      "id": "791c3853-6ebc-4b09-9a7e-621cf928fe68",
      "name": "Response"
    },
    {
      "parameters": {
        "name": "Web_Search_Tool",
        "description": "call this tool to perform a search on the web",
        "workflowId": {
          "__rl": true,
          "value": "d0AXhpO7lsh9hGTe",
          "mode": "list",
          "cachedResultName": "Tavily - Web Search NEWS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "searchPrompt": "={{ $fromAI(\"InformationTosearch\") }}"
          },
          "matchingColumns": [
            "searchPrompt"
          ],
          "schema": [
            {
              "id": "searchPrompt",
              "displayName": "searchPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "id": "d0f76e4c-e829-456c-8504-a0229dee6428",
      "name": "Tavily Search"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "id": "7c5f7d30-3e57-4a1d-aded-447dde3f909e",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        200
      ],
      "id": "74152cc7-e559-4dc9-a674-e7369a117a94",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        200
      ],
      "id": "b438c741-a93d-45dc-9246-b104b158e52a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        200
      ],
      "id": "acaef817-6fa2-4173-b127-1e35dd816673",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        0
      ],
      "id": "81157928-3115-4f23-86f2-134e128150ca",
      "name": "Telegram",
      "webhookId": "fdf0313f-80cb-4c3b-8b5e-114221d0e4f8",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Collect Info.\n* can also specify \"about _enter topic_\"",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        -80
      ],
      "typeVersion": 1,
      "id": "ce67470e-fd12-4e27-9fc2-987c8024ad09",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Summarize Info.\n* System Prompt: can enter industry or broad topic",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -80
      ],
      "typeVersion": 1,
      "id": "b28862c5-59df-4b78-8960-58f8d36e6aa7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Form Response\n* add how to format response (ie. \"respond in bullet points\")",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        -80
      ],
      "typeVersion": 1,
      "id": "b78b31ec-7a7e-437b-b4f1-b1e5656a3f3b",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Information Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Collection": {
      "main": [
        [
          {
            "node": "Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesizer": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "Information Collection",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Information Collection",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Collection",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Synthesizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4945b4a4-2676-4b7e-ae7e-55afb9de945a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "XhjdmNf57i1FDyWe",
  "tags": []
}