AI Agents/n8n/CRM Management Agent.json
{
  "name": "CRM Management Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        540
      ],
      "id": "debb6569-dac7-48d6-bf2e-077f76c30906",
      "name": "Telegram Trigger1",
      "webhookId": "c2179ff7-192b-41c7-9709-12fa81ca3c12",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        840
      ],
      "id": "c51a6255-a7b5-482a-bbdf-28a61f25b770",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        840
      ],
      "id": "d1285e21-8220-4365-8016-cdee3e02d1b1",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "call this tool to get contact(s)",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1aa75af7-247e-8009-8e0e-ea1bb0905d2e",
          "mode": "list",
          "cachedResultName": "Vid CRM",
          "cachedResultUrl": "https://www.notion.so/1aa75af7247e80098e0eea1bb0905d2e"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $fromAI(\"emailOfContact\") }}"
            },
            {
              "key": "Lead Status|status",
              "condition": "equals",
              "statusValue": "={{ $fromAI(\"statusOfContact\") }}"
            },
            {
              "key": "Notes|rich_text",
              "condition": "contains",
              "richTextValue": "={{ $fromAI(\"notesForContact\") }}"
            },
            {
              "key": "Phone|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $fromAI(\"phoneOfContact\") }}"
            },
            {
              "key": "Website|url",
              "condition": "contains",
              "urlValue": "={{ $fromAI(\"websiteOfContact\") }}"
            },
            {
              "key": "Name|title",
              "condition": "contains",
              "titleValue": "={{ $fromAI(\"contactName\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        520,
        840
      ],
      "id": "43912ee0-e5c2-46c9-904b-638002dee49a",
      "name": "Get Contact",
      "credentials": {
        "notionApi": {
          "id": "pU13RPGwe3ODBuFv",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "call this tool to create a contact",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1aa75af7-247e-8009-8e0e-ea1bb0905d2e",
          "mode": "list",
          "cachedResultName": "Vid CRM",
          "cachedResultUrl": "https://www.notion.so/1aa75af7247e80098e0eea1bb0905d2e"
        },
        "title": "={{ $fromAI(\"contactName\") }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email|email",
              "emailValue": "={{ $fromAI(\"emailOfContact\") }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ $fromAI(\"notesForContact\") }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $fromAI(\"phoneNumberOfContact\") }}"
            },
            {
              "key": "Website|url",
              "urlValue": "={{ $fromAI(\"websiteForContact\") }}"
            },
            {
              "key": "Lead Status|status",
              "statusValue": "={{ $fromAI(\"statusOfLead\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        380,
        840
      ],
      "id": "92c322b9-5682-498c-95b2-2a25009efdfe",
      "name": "Create Contact",
      "credentials": {
        "notionApi": {
          "id": "pU13RPGwe3ODBuFv",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "call this  tool to update a contact ",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $fromAI(\"pageIdOfContact\") }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $fromAI(\"updatedContactName\") }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ $fromAI(\"updatedContactNotes\") }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $fromAI(\"updatedContactPhone\") }}"
            },
            {
              "key": "Website|url",
              "urlValue": "={{ $fromAI(\"updatedContactWebsite\") }}"
            },
            {
              "key": "Lead Status|status",
              "statusValue": "={{ $fromAI(\"updatedLeadStatus\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        240,
        840
      ],
      "id": "77e0a58b-5a3b-4139-9aea-1827d3b18654",
      "name": "Update Contact",
      "credentials": {
        "notionApi": {
          "id": "pU13RPGwe3ODBuFv",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        540
      ],
      "id": "ca1d615e-6997-444f-9091-c63ff73ad2e9",
      "name": "Telegram",
      "webhookId": "7eea015f-65ec-4aae-bd16-683c32636797",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Create Telegram account\n- [ ] Create & connect Telegram bot\n- [ ] Connect OpenAI account\n- [ ] Create Notion database for CRM\n- [ ] Connect Notion to n8n\n- [ ] Edit AI Agent prompt (\"Text\" field)\n- [ ] Edit tools according to CRM",
        "height": 240,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        220
      ],
      "typeVersion": 1,
      "id": "a9cdeaf7-240d-422f-99a9-ee62126357e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are to execute the following task:\n{{ $json.message.text }}\n\n\nYou have access to the following tools:\n- get contact(s)\n- create a contact, fill in empty fields with a space \" \"\n- update a contact\n\nEach contact has the following information:\n- Name\n- Lead Status, which has the following statuses\n  - Not Contacted\n  - Cold\n  - Warm\n  - Interested\n  - Closed\n- Phone\n- Email\n- Website\n- Notes\n\n\nYou must always fill in a status, so choose based on what you think is the best fit, and if not set to \"Not Contacted\".",
        "options": {
          "systemMessage": "You are an assistant in charge of helping me manage my CRM. You can create new contacts, update current ones, and find contacts that already exist."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        20,
        540
      ],
      "id": "74e1e5d8-4089-4aaf-8b22-e19957c2c54e",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efe66a24-55d1-4098-bf32-d5130a80f804",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "aJW8anYH1vWjNCGK",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:44.682Z",
      "updatedAt": "2025-02-24T17:35:44.682Z",
      "id": "vDzcYSu6gK4AiaFh",
      "name": "In Progress"
    }
  ]
}