AI Agents/n8n/Instagram_Agent.json
{
  "name": "Instagram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        300
      ],
      "id": "a1957750-225e-49f9-8eea-e2dce466812d",
      "name": "Telegram Trigger",
      "webhookId": "708d8347-59cd-44d8-a4b2-41b7943c3075",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "responseData": "Your post has been approved!"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ],
      "id": "31e0ffff-0a8e-4686-b135-54e1751823f4",
      "name": "Wait",
      "webhookId": "2b987526-c9f9-4e70-996b-b41d2bbf97c8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac4810d5-b395-4a1f-987d-d59bf25725ec",
              "leftValue": "={{ $json.query.answer }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        300
      ],
      "id": "f5a3c9cf-fd62-47c8-a543-596c8977a180",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your post is:\n\n{{ $('AI Agent').item.json.output }}\n\n\nPlease tap [Post]({{ $execution.resumeUrl }}?answer=post) or [Do not Post]({{ $execution.resumeUrl }}?answer=no).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        300
      ],
      "id": "9eeeebfb-c9c9-4c0a-ac33-1a8a21e6ab84",
      "name": "Telegram",
      "webhookId": "3571285c-9bce-43a4-9729-4aaf3662ded8",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        520
      ],
      "id": "1e0bea8a-fbc3-4b8d-b234-4015fc46e5dc",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make an Instagram post about the following topic. Only respond with the post, as I am running an automation on your response.\n\nYour response should be formatted for Instagram including new lines, text and emojis. Never include links in your responses (ie post captions).\n\nTopic: {{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a social media marketing expert for me who runs an __INSERT INDUSTRY__. You are to create Instagram posts for my business page. Ensure your responses (ie posts) are not too long and make sure it is formatted appropriately with lines as spacing between main points.\n\nMake sure to never include a link in the post caption. Instead tell the user to go to the link in my bio to go to my YouTube channel."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        300
      ],
      "id": "dd029e06-af59-46e8-8851-b5db3edfa7dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        520
      ],
      "id": "d949b6a9-7dea-402e-8eb3-321c0bb1ec16",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "____INSERT INSTAGRAM ID #____",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('OpenAI').item.json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1240,
        180
      ],
      "id": "5d94b233-b503-4fe8-b331-c1f05c69f0fd",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "DhxZhkmyA4dpOsb5",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "____INSERT INSTAGRAM ID #____",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('OpenAI').item.json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1460,
        180
      ],
      "id": "5045cfb8-c09d-431a-b3d5-02654f77a004",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "DhxZhkmyA4dpOsb5",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Create Media",
        "height": 200,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        140
      ],
      "typeVersion": 1,
      "id": "1fc513d8-494b-4e6b-ab28-df740d9171e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Publish Media",
        "height": 200,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        140
      ],
      "typeVersion": 1,
      "id": "408d5fbf-4c1d-483c-9b97-0cbd1786bf43",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Capture a high-quality, genuine photograph for a business Instagram page that looks like it was taken on an iPhone by a real photographer. The image should feature natural lighting, authentic details, and a candid composition that makes it indistinguishable from a real, unedited snapshot. This photograph should be related to the post caption below.\n\nThe post is as follows:\n{{ $json.output }}",
        "options": {
          "quality": "standard",
          "size": "1024x1024",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        300
      ],
      "id": "75177190-71ec-4045-ab9e-fc91fe45cff8",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        300,
        300
      ],
      "id": "7d82c342-7756-4119-b811-8839b1f156bc",
      "name": "Telegram1",
      "webhookId": "716eae94-9ac1-43e6-87d5-9770ad3ff4b7",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Send Image",
        "height": 200,
        "width": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        260
      ],
      "typeVersion": 1,
      "id": "a934f635-fa7b-41de-b760-e0bbb775c093",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Send Caption",
        "height": 200,
        "width": 180,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        260
      ],
      "typeVersion": 1,
      "id": "c264a8a7-1c30-4c91-90f9-b5944d52db8d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Set Up Instructions\n- [ ] Create Telegram account\n- [ ] Create Telegram Bot & connect to n8n\n- [ ] Connect OpenAI Account via secret key\n- [ ] Modify AI Agent prompt with industry / content topic\n- [ ] Test image prompt\n- [ ] Connect Instagram / Facebook account\n- [ ] Paste in Instagram ID # in both \"Facebook Graph API\" nodes",
        "height": 280,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -180
      ],
      "typeVersion": 1,
      "id": "5c3ce417-77ac-420c-91b7-f614c6e1e639",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Image Generation",
        "height": 200,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        260
      ],
      "typeVersion": 1,
      "id": "852581e3-990c-46e1-984a-e61c6e449a68",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Caption Generation",
        "height": 180,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        260
      ],
      "typeVersion": 1,
      "id": "6edff5ed-06c6-4cc6-a8fb-b4281e12328a",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2580a78-f206-4704-b07a-7cfbcd4277f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "yly83HuAtjEVh8Cw",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:50.610Z",
      "updatedAt": "2025-02-24T17:35:50.610Z",
      "id": "0KAO2cBcsUslRe3I",
      "name": "Need to Film"
    }
  ]
}