AI Agents/n8n/Text and Voice Agent.json
{
  "name": "Telegram Voice",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4003cdcc-394a-4463-9f22-58e3c4bf7ce3",
      "name": "Telegram Trigger",
      "webhookId": "9fe46545-d929-439d-baff-36ec64da7224",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f659b502-b5a9-40dd-bf1f-54957ce9c3b3",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "4f9d656c-783a-4a26-90ab-bfcd3d92a0bc",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        -100
      ],
      "id": "f02c9b65-ffcd-4239-9a78-560cd84e0855",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are to help with the following question from the guest:\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are an assistant tasked with helping airbnb guests"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1000,
        40
      ],
      "id": "e6ed7aa2-5255-4883-b701-4f80a134dcc5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2060,
        40
      ],
      "id": "f5dc5c3f-d84f-4960-892d-ca3af2d074ce",
      "name": "Telegram1",
      "webhookId": "7d93c71f-85b4-48b9-bf79-b5b09bfe534a",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.response.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1840,
        40
      ],
      "id": "a10a5190-e67f-41bc-9786-84453b905308",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Overview\n* Check if audio input exists\n* Transcribe if needed\n* Send to AI Agent\n* Send Telegram text response\n* Summarize & format for audio response\n* Create audio\n* Send back audio file via Telegram",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -520
      ],
      "typeVersion": 1,
      "id": "47c3d392-3d29-41ff-a507-460f75401b37",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        260
      ],
      "id": "3cb82803-5c86-47f6-b580-9e406d163ee1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        -100
      ],
      "id": "d3ef2dbd-121d-4697-8b81-4c6e423c38a2",
      "name": "Telegram2",
      "webhookId": "c6d47194-81d9-4ae6-af84-ed082f8f90cc",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6848086-dd83-4134-ae70-cd17089e6943",
              "name": "=text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        140
      ],
      "id": "8a42b9e1-75ac-4e81-b6ea-d9608a6f258d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        1480,
        40
      ],
      "id": "e68ddd46-9e07-476a-aafc-b9d00377e330",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        200
      ],
      "id": "3796887f-2e3b-4631-883e-d650e3eba199",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "airbnb_info",
        "toolDescription": "Pinecone vector store containing information about the airbnb",
        "pineconeIndex": {
          "__rl": true,
          "value": "airbnbguest",
          "mode": "list",
          "cachedResultName": "airbnbguest"
        },
        "options": {
          "pineconeNamespace": "HouseInfo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "id": "7e5a9ecc-86a9-4a6e-9a92-22dc72ed4280",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WbT0Us1UFOtXBJWK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        420
      ],
      "id": "cbcf6d6b-7462-4cce-b371-1848b99ae2f3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        -200
      ],
      "id": "c1a332ed-92a1-4df4-b648-945d30bf8642",
      "name": "Telegram",
      "webhookId": "190589a9-cb6c-49b4-a8f7-2e3d030630dd",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "content": "## Voice Input",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -160
      ],
      "typeVersion": 1,
      "id": "db0bd96f-a7cb-402c-8cbd-ba33b979924c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Text Input",
        "height": 180,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        100
      ],
      "typeVersion": 1,
      "id": "f76f2c42-6064-4085-ae02-ce81313fec91",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text Response",
        "height": 200,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        -240
      ],
      "typeVersion": 1,
      "id": "ca98b221-3bdd-4679-aa52-f3b37ea1399e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Voice Response",
        "height": 300,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        0
      ],
      "typeVersion": 1,
      "id": "01d9226f-ceec-435c-80ed-6a4555bed7c1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n**Check out [my previous video](https://youtu.be/9bhBNe9_OrE?si=dwyCbbXMTZIcDkJ0) to connect to Pinecone!**\n- [ ] Create Telegram account\n- [ ] Connect Telegram to n8n\n- [ ] Connect OpenAI through API key\n- [ ] Edit agent prompt (optional)\n- [ ] Connect to Pinecone\n- [ ] Create Pinecone index\n- [ ] Add information to index",
        "height": 280,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -520
      ],
      "typeVersion": 1,
      "id": "1b952515-a0e8-476b-8c3f-739a8e24861f",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1547b6b2-7e81-4d90-bdd2-49b7d9b06b0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "5xqSFmu6ynSx2of1",
  "tags": []
}