AI Agents/n8n/Twitter_Agent.json
{
  "name": "Twitter Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        0
      ],
      "id": "c38c9844-63c5-4345-a692-6a11c06a11a9",
      "name": "Telegram Trigger",
      "webhookId": "fade787e-9d4c-4259-a651-2200912d5145",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "responseData": "Your post has been approved!"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "31a0c19f-681c-4121-8f13-de7fa432604e",
      "name": "Wait",
      "webhookId": "1b32d88b-5333-4c3e-8e44-341be83715bf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac4810d5-b395-4a1f-987d-d59bf25725ec",
              "leftValue": "={{ $json.query.answer }}",
              "rightValue": "go",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ],
      "id": "fdff70a8-e8dd-40fa-a51f-37a1f113241b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your post is:\n{{ $json.output }}\n\n\nPlease tap [Post]({{ $execution.resumeUrl }}?answer=go) or [No]({{ $execution.resumeUrl }}?answer=no).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "c78fd450-2dd9-4c6e-b4ad-f8d2b64f5f74",
      "name": "Telegram",
      "webhookId": "24dafe18-84c7-4c18-9f0b-9232469bf981",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set Up Instructions\n- [ ] Make a Telegram bot\n- [ ] Connect Telegram Account\n- [ ] Edit AI Agent Prompt (change industry & test)\n- [ ] Connect OpenAI through API key\n- [ ] Connect Twitter / X account\n### *Optional*\n- [ ] Connect Google Account\n- [ ] Add a 'company info' doc",
        "height": 260,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -300
      ],
      "typeVersion": 1,
      "id": "033c6a3e-8e3b-48dc-b348-e7fb8e4f75fa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "d3c64cc1-4302-4669-b0ba-2580b0c24ebb",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1220,
        -140
      ],
      "id": "5ece94f3-a563-41f6-8748-76bd81aeaa7e",
      "name": "X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "ejZi40qB8cfe70ny",
          "name": "X account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make a Twitter / X post about the following topic. Only respond with the post, as I am running an automation on your response.\nYour response should ALWAYS be less than 250 characters, no matter what, if it is not under this limit the automation will fail.\n\nTopic: {{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a social media marketing expert for me who runs an AI Automation agency. You are to create Twitter / X posts for my business page. Ensure your entire response (ie the entire post) is less than 275 characters), otherwise the automation will fail, this includes links, emojis, spaces, etc...\n\nFrame the content as coming from me, I am the only one running this business so it should be singular (I) instead of plural (we) for example."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "3cbf07df-ef29-4f1e-8fd7-7909413b3df3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "031bef46-c502-40eb-a6c3-6e12d6058f88",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get company info.",
        "operation": "get",
        "documentURL": "*Insert Document URL*"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        520,
        360
      ],
      "id": "bbe4bdfa-26cf-4e6d-bd51-ba57d996ae05",
      "name": "Company Info",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "adTF7F4KBSrj8XjC",
          "name": "Google Docs account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "### (Optional)",
        "height": 180,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        320
      ],
      "typeVersion": 1,
      "id": "6ec9fb52-0a93-428b-8f27-f0c288c55cd1",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe4cc013-77bb-49a3-8774-a75851c3fd36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "hawQcvLAudPJwIHx",
  "tags": []
}