MCP/AI Agents/n8n/Ultimate AI Assistant/OPERATIONS__Inventory_Management.json
{
  "name": "OPERATIONS: Inventory Management",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are in charage of managing inventory for a company. You have access to two different spreadsheets.\n\nHelp with the following: {{ $json.taskForExecution }}\n\nSheet 1: holds the locations where the inventory is stored and has some information about which the products at that location.\n\nSheet 2: is the master data sheet which holds more specific information about all of the products used by this company. (This should be used as a reference)\n\n\nYou have access to the following tools...\nSheet 1 Tools:\n- get inventory row(s): gets a piece of inventory from the first sheet which holds the locations\n- create a row for an inventory entry: adds inventory (should not be used a lot)\n- update an inventory entry / row: updates the inventory at a location\n\nSheet 2 Tools:\n- get information about an inventory item from master data sheet: use this to reference when updating sheet 1\n\nGeneral Tools:\n- calculator: use this for all calculations to ensure accuracy\n\n\n\n\n\nYou have access to the following variables:\nToday's date: {{ $now }}",
        "options": {
          "systemMessage": "You are in charge of managing inventory for a small business, you will be give adjustments to physical inventory and you should update the inventory spreadsheet based on those changes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "b7aebc9a-c4b1-499b-a8d5-49ed2efb279b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "create a row for an inventory entry",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8",
          "mode": "list",
          "cachedResultName": "Inventory Management Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 206532206,
          "mode": "list",
          "cachedResultName": "Current",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit#gid=206532206"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $fromAI(\"SKU\") }}",
            "Product Name": "={{ $fromAI(\"ProductName\") }}",
            "Quantity": "={{ $fromAI(\"ProductQuantity\") }}",
            "Reorder Date": "={{ $fromAI(\"ReorderDate\") }}",
            "Location": "={{ $fromAI(\"Location\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reorder Date",
              "displayName": "Reorder Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        300,
        300
      ],
      "id": "887b0d80-92c1-4a76-b9a9-4bc79dba83d5",
      "name": "Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mHP3pDVwrOTJg66g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get inventory row(s)",
        "documentId": {
          "__rl": true,
          "value": "1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8",
          "mode": "list",
          "cachedResultName": "Inventory Management Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 206532206,
          "mode": "list",
          "cachedResultName": "Current",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit#gid=206532206"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Location",
              "lookupValue": "={{ $fromAI(\"Location\") }}"
            },
            {
              "lookupColumn": "Product Name",
              "lookupValue": "={{ $fromAI(\"ProductName\") }}"
            },
            {
              "lookupColumn": "SKU",
              "lookupValue": "={{ $fromAI(\"SKU\") }}"
            },
            {
              "lookupColumn": "Quantity",
              "lookupValue": "={{ $fromAI(\"Quantity\") }}"
            },
            {
              "lookupColumn": "Reorder Date",
              "lookupValue": "={{ $fromAI(\"ReorderDate\") }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        400,
        300
      ],
      "id": "ea68b5d4-78c8-4f13-b67c-8d5f4e5625bf",
      "name": "Get",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mHP3pDVwrOTJg66g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "update an inventory entry / row",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8",
          "mode": "list",
          "cachedResultName": "Inventory Management Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 206532206,
          "mode": "list",
          "cachedResultName": "Current",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit#gid=206532206"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location": "={{ $fromAI(\"Location\") }}",
            "Product Name": "={{ $fromAI(\"ProductName\") }}",
            "SKU": "={{ $fromAI(\"SKU\") }}",
            "Quantity": "={{ $fromAI(\"Quantity\") }}",
            "Reorder Date": "={{ $fromAI(\"ReorderDate\") }}"
          },
          "matchingColumns": [
            "Location"
          ],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reorder Date",
              "displayName": "Reorder Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        500,
        300
      ],
      "id": "a9b70673-993f-4967-a333-78eb4afb2f0e",
      "name": "Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mHP3pDVwrOTJg66g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        300
      ],
      "id": "680977da-d3a8-4e54-8501-dfb411bb878c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        300
      ],
      "id": "29c2e6bd-68f5-408b-ba0c-bccb9d117b18",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "id": "5fdca600-c8e2-4ce6-a43f-2b2f48d2ecc9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "### Overview\n* updates inventory\n* have inventory locations filled in & change depending on amounts present\n\n\n**First Sheet**\n* physical locations (current inventory counts)\n\n\n**Second Sheet**\n* info sheet that holds all prices & SKU's",
        "height": 280,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -340
      ],
      "typeVersion": 1,
      "id": "affc49f3-95d4-43bd-b4bb-e4f155b9e09e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get information about an inventory item from master data sheet",
        "documentId": {
          "__rl": true,
          "value": "1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8",
          "mode": "list",
          "cachedResultName": "Inventory Management Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v5xjLEMhOmhyJ0msedlnGzR3B8eC3XP4g7N5EUTEPc8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "SKU",
              "lookupValue": "={{ $fromAI(\"SKU\") }}"
            },
            {
              "lookupColumn": "Product Name",
              "lookupValue": "={{ $fromAI(\"ProductName\") }}"
            },
            {
              "lookupColumn": "Category",
              "lookupValue": "={{ $fromAI(\"ProductCategory\") }}"
            },
            {
              "lookupColumn": "Reorder Point",
              "lookupValue": "={{ $fromAI(\"ReorderPoint\") }}"
            },
            {
              "lookupColumn": "Lead Time (Days)",
              "lookupValue": "={{ $fromAI(\"ReorderLeadTime\") }}"
            },
            {
              "lookupColumn": "Min Stock",
              "lookupValue": "={{ $fromAI(\"MinimumStock\") }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        800,
        300
      ],
      "id": "6316b42f-7975-475c-b5db-f3ca3be41db0",
      "name": "Get Item Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mHP3pDVwrOTJg66g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "taskForExecution"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "aef5876b-922f-4ff1-bcea-ffd7f6753401",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Connect Google Sheets account\n- [ ] Edit based on your spreadsheet\n- [ ] Edit agent prompt (based on spreadsheet)",
        "height": 180,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        -260
      ],
      "typeVersion": 1,
      "id": "e53377cd-6c9a-4ef2-9f35-0a61adff7710",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### First Sheet",
        "height": 180,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        260
      ],
      "typeVersion": 1,
      "id": "18797800-8a85-4460-9902-af59ac7d045c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Second Sheet",
        "height": 180,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        260
      ],
      "typeVersion": 1,
      "id": "63c94a7b-be1f-4978-928c-edd2ce9a0fc6",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Get Item Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "044c8d52-0e6d-4f33-a89c-d2ccd847f262",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "ipQJq2KR9WvK77N6",
  "tags": []
}