MCP/AI Agents/n8n/Research Agent/Tavily Web Search (News).json
{
  "name": "Tavily - Web Search NEWS (TEMPLATE)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "searchPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4f5e0731-aa67-4a66-ba7a-9c2c8b0b3469",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"__INSERT_API_KEY__\",\n  \"query\": \"{{ $json.searchPrompt }}\",\n  \"search_depth\": \"basic\",\n  \"include_answer\": true,\n  \"topic\": \"news\",\n  \"include_raw_content\": true,\n  \"max_results\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "36fc2668-3a06-41e0-96c6-7689ad2ab815",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81b081a3-d202-4a8d-80dc-aaa1eb18d9a3",
              "name": "Response",
              "value": "=Source 1: {{ $json.results[0].title }}\n- URL: {{ $json.results[0].url }}\n- Content: {{ $json.results[0].content }}\n\n\nSource 2: {{ $json.results[1].title }}\n- URL: {{ $json.results[1].url }}\n- Content: {{ $json.results[1].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "2ead095e-5318-4c71-97cc-ae5d71796499",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n**This workflow uses [Tavily](https://tavily.com/) for web search**\n- [ ] Create an account on Tavily\n- [ ] Get the API token and paste into the HTTP Request node below",
        "height": 180,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -240
      ],
      "typeVersion": 1,
      "id": "0d6bfd08-8e01-48c3-945b-bc4bae54c9ba",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbd7ab0d-1084-45dc-9444-5150d23e3f88",
  "meta": {
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "WVgAv4LBWA8oDaCb",
  "tags": [
    {
      "createdAt": "2025-02-24T17:39:39.549Z",
      "updatedAt": "2025-02-24T17:39:39.549Z",
      "id": "6YLRGtxKEQMBz4wc",
      "name": "***Template***"
    },
    {
      "createdAt": "2025-02-25T04:48:06.360Z",
      "updatedAt": "2025-02-25T04:48:06.360Z",
      "id": "yukdQZDm5Z938AYa",
      "name": "Tool"
    }
  ]
}