MCP/AI Agents/n8n/Employee Reference Agent.json
{
  "name": "Employee Reference",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "81cb1792-68d1-4e1c-bcc0-4ce94254b140",
      "name": "Telegram Trigger",
      "webhookId": "742959f1-e8c0-452a-9147-d2dbafb45d69",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_STdJVfa7MBZHoCd1ItnvkVJs",
          "mode": "list",
          "cachedResultName": "Employee_QnA"
        },
        "prompt": "define",
        "text": "=Please answer the employee's question provided below. You should respond as if you are talking to the employee.\n\nHere is the question from the employee:\n{{ $json.message.text }}\n\nIf the document does not have the answer to the question please use the tool and add it to the Google sheet.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        0
      ],
      "id": "cbbd7918-190f-43ea-9216-c45f62f06616",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        500,
        220
      ],
      "id": "ba98713c-8279-4087-8916-81a7aa60a341",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        0
      ],
      "id": "30bbb547-e2e0-4423-a524-130362f29b13",
      "name": "Telegram",
      "webhookId": "304065a4-4cbd-44f0-b147-a3975ae7cd8a",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "call this tool to add a row to the Google sheet when the answer is not found",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LwxP8tn3UAL3jrzp1tL-gh-ju20eG5owywGUPVxXBz8",
          "mode": "list",
          "cachedResultName": "Employee QnA - Not Found Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwxP8tn3UAL3jrzp1tL-gh-ju20eG5owywGUPVxXBz8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwxP8tn3UAL3jrzp1tL-gh-ju20eG5owywGUPVxXBz8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Not Found": "={{ $fromAI(\"answerNotFound\") }}"
          },
          "matchingColumns": [
            "Not Found"
          ],
          "schema": [
            {
              "id": "Not Found",
              "displayName": "Not Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        320,
        220
      ],
      "id": "9e6b9ab7-4f45-41c4-b1c8-f1a191e81ce6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mHP3pDVwrOTJg66g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup Guide\n**Note that this workflow uses an OpenAI Assistant instead of an AI Agent**\n- [ ] Create Telegram account\n- [ ] Create Telegram bot\n- [ ] Connect Telegram bot w/ API token\n- [ ] Setup OpenAI vector store w/ procedures\n- [ ] Make OpenAI Assistant from vector store\n- [ ] Connect assistant below\n- [ ] Create Google Sheet\n- [ ] Connect below using tool",
        "height": 300,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -380
      ],
      "typeVersion": 1,
      "id": "aa40150e-ee38-4a03-8874-261a4b846c2f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### OpenAI Assistant System Instructions\n**copy and paste this into the \"System Instructions\" section for your OpenAI Assistant**\n\nYou are an employee assistant for a food manufacturing company. Employees will ask you questions regarding protocol, admin tasks, etc...\n\nYou should never make up any data, instead say you do not know and recommend contacting their supervisor.\n\nYou are to only respond with information provided in the vector store.",
        "height": 300,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -380
      ],
      "typeVersion": 1,
      "id": "f119c1e2-2560-4679-a504-68b473043fed",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e73248fd-e94e-4130-9ea3-43540e266eef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "hOIeHJnYvQua9hmP",
  "tags": []
}