MCP/AI Agents/n8n/Ultimate Content Agent/Content - Ultimate Agent.json
{
  "name": "***CONTENT MASTER AGENT***",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4d1305e5-e16d-4221-bb86-88bbe0ecbaf7",
      "name": "Telegram Trigger",
      "webhookId": "41b2337f-d2e0-4e02-a79a-9962f205e348",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute the following task: {{ $json.message.text }}\n\nMake sure you do not create posts or YouTube ideas unless I specifically say to, just because I ask for ideas (content ideation agent) does not mean I want a YouTube idea created or a post to be posted.\n\n\nYou have access to the following agents:\n\n- content ideation: generates content ideas on a given topic for a given platform, if the topic is not given, then fill it in with \"general\". If the platform is not given then fill it in with YouTube.\n\n- YouTube Idea Management which is stored in Notion. This tool you need to send a prompt. The agent can either get current idea(s) stored in my Notion database or it can create a new Notion page for a future video idea.\n\n- Post to Instagram: this agent creates a post on a certain topic and allows me to edit it if needed. You need to pass in the topic for the post and the Telegram ChatID which is given below.\n\n- Post to Facebook: this agent creates a post on a certain topic and allows me to edit it if needed. You need to pass in the topic for the post and the Telegram ChatID which is given below.\n\n- Post to Twitter: this agent creates a post on a certain topic and allows me to edit it if needed. You need to pass in the Telegram ChatID which is given below. For the \"topicForPost\" you need to prompt the agent, meaning you pass in, \"Create a post about [Enter topic of post that I have you]\"\n\n- web search tool: you can use this to search the web and find things like trending or recent topics\n\n\n\nTelegram Chat ID: {{ $json.message.chat.id }}\nToday's date: {{ $now }}",
        "options": {
          "systemMessage": "You are a social media marketing manager for my AI Automation Agency. You help me to manage my content creation process on all my social media platforms using a group of AI Agents.\n\nFor the Post to Instagram, Post to Facebook, and Post to Twitter you should prompt the agent in the ideaForPost field with something like \"Create a post about {{insertTopic}}\" and you can include a link for a YouTube video in that prompt if given."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "a8c16179-0d1b-437d-b2c3-0cef30bec4a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "Content_Ideation",
        "description": "Call this tool to get content ideas of a given platform.",
        "workflowId": {
          "__rl": true,
          "value": "jddo9WHHTERXQRc2",
          "mode": "list",
          "cachedResultName": "***Content - Ideation Agent***"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "topicForContent": "={{ $fromAI(\"topicForContentIdeas\") }}",
            "contentPlatform": "={{ $fromAI(\"platformForContentIdeas\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topicForContent",
              "displayName": "topicForContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contentPlatform",
              "displayName": "contentPlatform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        840,
        280
      ],
      "id": "cc4de4a3-c705-43c8-bee9-0e130e66a3d5",
      "name": "Ideation Agent"
    },
    {
      "parameters": {
        "name": "YouTubeManagementAgent",
        "description": "Call this tool to manage my YouTube videos which are stored in Notion",
        "workflowId": {
          "__rl": true,
          "value": "jnUORXPzdi9Xu8VJ",
          "mode": "list",
          "cachedResultName": "***Content - YT Management Agent***"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vidAgentPrompt": "={{ $fromAI(\"videoAgentPrompt\") }}",
            "telegramChatId": "={{ $fromAI(\"telegramChatId\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vidAgentPrompt",
              "displayName": "vidAgentPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "displayName": "telegramChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        980,
        280
      ],
      "id": "993b14df-e332-4dbc-bed7-e4fca4cf67f2",
      "name": "YouTube Management"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        280
      ],
      "id": "57f2e321-b856-43e3-b526-841797b34fe8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "InstagramPostAgent",
        "description": "call this tool to create a post on Instagram",
        "workflowId": {
          "__rl": true,
          "value": "VBqPFv6WIBzmBjPn",
          "mode": "list",
          "cachedResultName": "***Content - Instagram Agent***"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instaPostTopic": "={{ $fromAI(\"topicForPost\") }}",
            "telegramChatId": "={{ $fromAI(\"telegramChatId\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "instaPostTopic",
              "displayName": "instaPostTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "displayName": "telegramChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        420,
        280
      ],
      "id": "5b6b01e6-bfdd-4ee1-98e7-f6c70e3f971c",
      "name": "Insta. Agent"
    },
    {
      "parameters": {
        "name": "FacebookPostAgent",
        "description": "call this tool to create a post on Facebook",
        "workflowId": {
          "__rl": true,
          "value": "jtv67XAMtVMWuGil",
          "mode": "list",
          "cachedResultName": "***Content - Facebook Agent***"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "facebookPostTopic": "={{ $fromAI(\"topicForPost\") }}",
            "telegramChatId": "={{ $fromAI(\"telegramChatId\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "facebookPostTopic",
              "displayName": "facebookPostTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "displayName": "telegramChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        560,
        280
      ],
      "id": "103a2858-9e47-4024-a23b-f69aa69b1b05",
      "name": "Facebook Agent"
    },
    {
      "parameters": {
        "name": "TwitterPostAgent",
        "description": "call this tool to create a post on Twitter / X",
        "workflowId": {
          "__rl": true,
          "value": "9tsvLC0tvIo1kcXx",
          "mode": "list",
          "cachedResultName": "***Content - Twitter Agent***"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "twitterPostTopic": "={{ $fromAI(\"topicForPost\") }}",
            "telegramChatId": "={{ $fromAI(\"telegramChatId\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "twitterPostTopic",
              "displayName": "twitterPostTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "displayName": "telegramChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "id": "3639049e-7aba-4c3f-a0fb-223a22bb315b",
      "name": "Twitter Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        280
      ],
      "id": "6957dad1-0e4e-4fae-991f-de0a7715d230",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "a3e46342-648a-44ed-a5e2-27ebf643e055",
      "name": "Telegram",
      "webhookId": "02ae96e2-cd32-4108-b4f8-096566dede04",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "name": "Web_Search",
        "description": "Call this tool to search the web",
        "workflowId": {
          "__rl": true,
          "value": "IepnshAuybStrj5L",
          "mode": "list",
          "cachedResultName": "Tavily - Web Search API"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "searchPrompt": "={{ $fromAI(\"webSearchPrompt\") }}"
          },
          "matchingColumns": [
            "searchPrompt"
          ],
          "schema": [
            {
              "id": "searchPrompt",
              "displayName": "searchPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1160,
        280
      ],
      "id": "8a109cc9-51af-4653-916f-efdc2dbeef6f",
      "name": "Web Search"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Create Telegram account\n- [ ] Create Telegram bot & connect to n8n\n- [ ] Connect OpenAI account\n- [ ] Look over AI Agent prompt\n- [ ] Download and setup nested-agents\n- [ ] Connect all nested-agents with their appropriate name",
        "height": 220,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -280
      ],
      "typeVersion": 1,
      "id": "d1491064-2c4b-488f-8c90-f53ccbafe26b",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideation Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Management": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insta. Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9774c2d-1d67-4c7e-b479-fbc5e517cc62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "kPenKrPEl5f60gLm",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:50.610Z",
      "updatedAt": "2025-02-24T17:35:50.610Z",
      "id": "0KAO2cBcsUslRe3I",
      "name": "Need to Film"
    },
    {
      "createdAt": "2025-02-24T17:35:26.191Z",
      "updatedAt": "2025-02-24T17:36:01.451Z",
      "id": "YmkIGZIuf6UXSIaV",
      "name": "Content Agent"
    }
  ]
}