MCP/AI Agents/n8n/Ultimate Content Agent/Content - Twitter Agent.json
{
  "name": "***Content - Twitter Agent***",
  "nodes": [
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "responseData": "Your post has been approved!"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "c384106f-9b07-4b03-96bc-7fa3b5ca6518",
      "name": "Wait",
      "webhookId": "679dbac7-c755-4667-9893-cb9d3a2f5aca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac4810d5-b395-4a1f-987d-d59bf25725ec",
              "leftValue": "={{ $json.query.answer }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ],
      "id": "1f197389-bbab-41b8-9ff9-9a7249644a57",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegramChatId }}",
        "text": "=Your post is:\n{{ $json.output }}\n\n\nPlease tap [Post]({{ $execution.resumeUrl }}?answer=post) or [Do Not Post]({{ $execution.resumeUrl }}?answer=no).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "5d57392a-6994-4112-bb7d-9290736f64cd",
      "name": "Telegram",
      "webhookId": "f2a41ade-359a-48b6-bac9-c690c1f49eec",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Adjust AI Agent prompt\n- [ ] Connect Twitter (X) account",
        "height": 200,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -360
      ],
      "typeVersion": 1,
      "id": "05d2af1b-3a29-44eb-8957-53114f8af2e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telegramChatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "0f531daa-6d79-47e5-bdfd-e1fe7898a320",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1260,
        -140
      ],
      "id": "43f23223-91f9-440d-93a4-c195342c7154",
      "name": "X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "ejZi40qB8cfe70ny",
          "name": "X account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make a Twitter / X post about the following topic. Only respond with the post, as I am running an automation on your response.\nYour response should ALWAYS be less than 250 characters, no matter what, if it is not under this limit the automation will fail.\n\nTopic: {{ $json.twitterPostTopic }}",
        "options": {
          "systemMessage": "You are a social media marketing expert for me who runs a __ENTER INDUSTRY / CONTENT TOPIC___. You are to create Twitter / X posts for my business page. Ensure your entire response (ie the entire post) is less than 275 characters), otherwise the automation will fail, this includes links, emojis, spaces, etc...\n\nFrame the content as coming from me, I am the only one running this business so it should be singular (I) instead of plural (we) for example."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "e91017ad-a102-453d-b428-71aece00de6a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "cee2104d-4ff8-4e40-a6ce-7c7ee27a0691",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "twitterPostTopic"
            },
            {
              "name": "telegramChatId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "cb97e02a-1765-42b2-9f21-53da767413d1",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af12b770-df59-4c47-a406-cde5265190e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "9tsvLC0tvIo1kcXx",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:26.191Z",
      "updatedAt": "2025-02-24T17:36:01.451Z",
      "id": "YmkIGZIuf6UXSIaV",
      "name": "Content Agent"
    }
  ]
}