AI Agents/n8n/Ultimate Content Agent/Content - Facebook Agent.json
{
  "name": "***Content - Facebook Agent***",
  "nodes": [
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "responseData": "Your post has been approved!"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        540,
        300
      ],
      "id": "207a0ea7-675f-462d-a60d-09fb9eff543e",
      "name": "Wait",
      "webhookId": "736d9fdb-e5aa-4f96-8a78-d0cc4e723984"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac4810d5-b395-4a1f-987d-d59bf25725ec",
              "leftValue": "={{ $json.query.answer }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "id": "afe4d1f6-d080-4dc1-bcd2-d0698b4112e0",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegramChatId }}",
        "text": "=Your post is:\n{{ $('AI Agent').item.json.output }}\n\n\nPlease tap [Post]({{ $execution.resumeUrl }}?answer=post) or [Do Not Post]({{ $execution.resumeUrl }}?answer=notPost).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        300
      ],
      "id": "da7c3c46-c196-4617-af01-93e618f3baff",
      "name": "Telegram",
      "webhookId": "9e48c063-7c94-4363-8f74-469f84e8ef40",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telegramChatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        520
      ],
      "id": "2a317ec6-ee7f-4804-8ee5-d9ba55b8c498",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make a Facebook post about the following topic. Only respond with the post, as I am running an automation on your response.\nYour response should ALWAYS be less than 250 characters, no matter what, if it is not under this limit the automation will fail.\n\nTopic: {{ $json.facebookPostTopic }}",
        "options": {
          "systemMessage": "You are a social media marketing expert for me who runs a __ENTER INDUSTRY / CONTENT TOPIC___. You are to create Facebook posts for my business page. Ensure your responses (ie posts) are not too long and make sure it is formatted appropriately with lines as spacing between main points.\n\nFrame the content as coming from me, I am the only one running this business so it should be singular (I) instead of plural (we) for example."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -80,
        300
      ],
      "id": "f135775b-9d51-4d79-a987-597c6016d4ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        520
      ],
      "id": "0cb16dcc-1566-4fcf-87ef-e49a6a8a6f35",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1060,
        180
      ],
      "id": "7a7ecd30-b227-44b9-8afe-d8b38756f2cf",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "6rX80MSttvX7bkDp",
          "name": "Facebook Graph account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "facebookPostTopic"
            },
            {
              "name": "telegramChatId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        300
      ],
      "id": "ec6ce9e7-203b-4d9f-aecf-722fbc6833c5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Connect OpenAI account\n- [ ] Adjust AI Agent prompt\n- [ ] Create Facebook app\n- [ ] Add app permissions\n- [ ] Connect Facebook account to n8n",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        20
      ],
      "typeVersion": 1,
      "id": "cf56a424-731e-46e7-b3b9-6eadbc570750",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8b3cd67-c946-4fec-bbff-981e758a7679",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "jtv67XAMtVMWuGil",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:26.191Z",
      "updatedAt": "2025-02-24T17:36:01.451Z",
      "id": "YmkIGZIuf6UXSIaV",
      "name": "Content Agent"
    }
  ]
}