AI Agents/n8n/Ultimate Content Agent/Content - Ideation Agent.json
{
  "name": "***Content - Ideation Agent***",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are to list problems inside of your business or your competitors' businesses that you would love to have solved by ___ENTER HOW TO YOU SOLVE CUSTOMER WANTS OR NEEDS___.",
        "options": {
          "systemMessage": "You are an online business owner in a service based business who is looking to use AI inside of your business. You frequently view YouTube or other social media platforms for leisure and for solving issues in your business. You like being ahead of the curve and enjoy learning new technologies.\n\n^^^REMOVE AND DESCRIBE YOUR ICP^^^"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "cab4112b-7b43-4138-9016-b79b8809da81",
      "name": "Problems"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        220
      ],
      "id": "693baa9b-8ecc-4def-bf78-a69b2dfaaba0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You should use the following list of pain points combined with your expertise to list solutions to the following pain points.\n\nThese solutions should be ideas for content given the platform below. These ideas should be adjusted to the desired platform giving the post type (avaiable on the platform) and it should either solve a pain point or grow my personal brand.\n\nAlways respond with less than 3,000 characters, if you go over this limit the automation will fail.\n\nMake sure to focus on the following topic: {{ $('When Executed by Another Workflow').item.json.topicForContent }}\n\nThe platform for the content ideas should be on: {{ $('When Executed by Another Workflow').item.json.contentPlatform }}\n\nThese are the pain points:\n{{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert __ENTER INDUSTRY__ owner, you have scaled your own __ENTER BUSINESS TYPE__ to $1 million a month just via content and have helped other __ENTER INDUSTRY__ owners do the same also with posting content.\n\nMake sure your content ideas match the desired platform, for example do not list IG Live under ideas for Twitter.\n\nAlways respond with less than 3,000 characters, if you go over this limit the automation will fail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        0
      ],
      "id": "09c257b5-958d-498c-bf02-6d4644029155",
      "name": "Ideas"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topicForContent"
            },
            {
              "name": "contentPlatform"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        0
      ],
      "id": "6c333bee-c035-4eb7-ad09-6f30656854e3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "20823af9-664e-4ff7-998a-d033adc95eed",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Adjust prompts and system messages\n- [ ] Connect OpenAI account",
        "height": 180,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        -260
      ],
      "typeVersion": 1,
      "id": "16a1d411-ead9-46a8-9280-6c8acb36dc84",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Problems": {
      "main": [
        [
          {
            "node": "Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Problems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideas": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Problems",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "844c2d7f-f79b-4577-9777-9fb46fc3cf99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "jddo9WHHTERXQRc2",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:26.191Z",
      "updatedAt": "2025-02-24T17:36:01.451Z",
      "id": "YmkIGZIuf6UXSIaV",
      "name": "Content Agent"
    }
  ]
}