n8n/AI Agents/n8n/Customer Service Agent.json
{
  "name": "Customer Service Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Customer Service Question",
        "height": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -80
      ],
      "typeVersion": 1,
      "id": "3c3cfc99-03cf-4e50-8aa9-3753dd6e663b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Overview\n**1. Gets customer message**\n* email notification\n\n\n**2. Create response email**\n* Vector Store of company info\n\n\n**3. Send Telegram message**\n* Waits for approval\n\n\n**4. If Statement**\n* For routing\n\n\n**5. Send or Draft**\n* Sends email if approved\n* Create draft is not denied",
        "height": 440,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -600
      ],
      "typeVersion": 1,
      "id": "0c97f743-f377-4db4-8fd6-4ae7a5e44317",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "__INSERT_CHAT_ID___",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Send!",
            "disapproveLabel": "❌ Edit"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "4eebf416-9b34-4757-8807-3da84f1cc710",
      "name": "Telegram",
      "webhookId": "75c75830-8a60-4a83-ab0c-981207a51121",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d99ccad-a12c-4013-8e6b-4b70a64f8640",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        0
      ],
      "id": "ca319b3b-c178-4b5e-856f-2736fb6244bc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        -160
      ],
      "id": "3e7bfb22-9640-4a95-952b-b0fd64c99f87",
      "name": "Gmail",
      "webhookId": "53d54334-1dd2-4035-9b33-c1033dc64a39",
      "credentials": {
        "gmailOAuth2": {
          "id": "iZW2vjoFOMIWZaiP",
          "name": "Gmail - Business Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Send Response",
        "height": 220,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -220
      ],
      "typeVersion": 1,
      "id": "bca8b2bb-ddc1-4c7b-b0be-aabafdcb7379",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Get Approval",
        "height": 200,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        -60
      ],
      "typeVersion": 1,
      "id": "61950cea-4e09-48c7-97b3-d98b05748cc4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        360
      ],
      "id": "76a11b50-75b6-4d39-9ed1-4d351283de71",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_information",
        "toolDescription": "work with a vector store containing company information",
        "pineconeIndex": {
          "__rl": true,
          "value": "3brosinfo",
          "mode": "list",
          "cachedResultName": "3brosinfo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        540,
        220
      ],
      "id": "a2b9d21a-64ee-4120-b65a-7cf0a630bb44",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WbT0Us1UFOtXBJWK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Draft Response",
        "height": 200,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -60
      ],
      "typeVersion": 1,
      "id": "2ae51686-8fb0-47aa-ae02-6226dca02f48",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please write an email response to the following customer service email.\n\nYou have access to...\n- company_information: with contains information about the company through a vector store tool\n\nHere is the customer's email:\nSubject Line:\n{{ $json.Subject }}\n\nEmail Body:\n{{ $json.snippet }}",
        "options": {
          "systemMessage": "You are a customer service expert in charge of answering customer questions via email. You also extensive experience as a copywriter.\n\nEnsure your response aligns with the company, and you maintain a friendly, helpful and professional tone.\n\nPlease format the email in plain text and sign as \"___INSERT_SIGNATURE___\".\n\nYour entire response is the body of the email, do not address the user and do not include a subject line."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "id": "97867f64-bfcd-4f96-9880-ce9f6cb6035e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        60,
        0
      ],
      "id": "0afa09d9-71c9-4d82-a640-67edff6c31e7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "iZW2vjoFOMIWZaiP",
          "name": "Gmail - Business Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "0752d26b-fc2e-4970-8a22-b086b1a93c83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "__INSERT_DOC_ID___",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "={{ $json.content }}",
              "replaceText": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1480,
        100
      ],
      "id": "1da20cba-3eb6-4042-a2a4-f00c01ea6da4",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qItK22T41OtxW3FT",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "__INSERT_DOC_ID___"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1260,
        100
      ],
      "id": "f1204047-b3a0-45c3-953c-c3d5cc65d768",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qItK22T41OtxW3FT",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "__INSERT_CHAT_ID___",
        "message": "Please provide any edits to the email and select \"Send!\"\n\nEdit email [here](__INSERT_GOOGLE_DOC_URL___)!",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Send!",
            "disapproveLabel": "❌ Don't Send"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        100
      ],
      "id": "dbb1e507-f612-4f40-afbd-3dbdf366eaa5",
      "name": "Telegram1",
      "webhookId": "abd33e3b-92ce-4e5e-acbd-820c7b3f55ea",
      "credentials": {
        "telegramApi": {
          "id": "QT1TafR4xHGlKkkF",
          "name": "Telegram account - Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "__INSERT_DOC_ID___"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2120,
        100
      ],
      "id": "f127a294-a831-4385-af3a-adc5621d7310",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qItK22T41OtxW3FT",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2340,
        100
      ],
      "id": "220085a0-d074-4238-bd10-2389897495c2",
      "name": "Gmail1",
      "webhookId": "53d54334-1dd2-4035-9b33-c1033dc64a39",
      "credentials": {
        "gmailOAuth2": {
          "id": "iZW2vjoFOMIWZaiP",
          "name": "Gmail - Business Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Edit & Send Response",
        "height": 240,
        "width": 1260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        40
      ],
      "typeVersion": 1,
      "id": "beaf89e9-d928-40fa-b57f-eb68d08432b4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d99ccad-a12c-4013-8e6b-4b70a64f8640",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        100
      ],
      "id": "4e7f6406-7c27-44e0-832d-14714ec4a5c0",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Connect Gmail account (Google login)\n- [ ] Connect OpenAI account (API Key)\n- [ ] Create Pinecone account\n- [ ] Create index\n- [ ] Add document(s) to index\n- [ ] Connect to Google Drive (Google Cloud project)\n- [ ] Add Drive API and Docs API inside of Google Cloud project\n- [ ] Connect Pinecone to n8n (API Key)\n- [ ] Create Telegram account\n- [ ] Create Telegram bot\n- [ ] Get & fill in Telegram Chat ID\n- [ ] Connect bot to n8n (HTTP API)\n- [ ] Create Google Doc for email drafts\n- [ ] Connect Google Docs account\n- [ ] Fill in Doc ID (all 3 steps)\n- [ ] Fill in Telegram Chat ID\n",
        "height": 480,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -620
      ],
      "typeVersion": 1,
      "id": "89497b25-da24-4d9c-b1b7-e9ea7a55287c",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs2": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad109dca-168d-403d-a0b3-96f3c1dca19d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "kwJ5aWa6X7wpZW9m",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:44.682Z",
      "updatedAt": "2025-02-24T17:35:44.682Z",
      "id": "vDzcYSu6gK4AiaFh",
      "name": "In Progress"
    }
  ]
}