AI Agents/n8n/Airbnb Guest Agent/Tavily Web Search (General).json
{
  "name": "Tavily - Web Search GENERAL (TEMPLATE)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "searchPrompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "60cbdc7c-dc0f-4540-b522-e4b634dcbd10",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"__INSERT_API_KEY__\",\n  \"query\": \"{{ $json.searchPrompt }}\",\n  \"search_depth\": \"basic\",\n  \"include_answer\": true,\n  \"topic\": \"general\",\n  \"include_raw_content\": true,\n  \"max_results\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "256db293-b75b-42db-a6af-4e423cec5dbe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81b081a3-d202-4a8d-80dc-aaa1eb18d9a3",
              "name": "Response",
              "value": "=Source 1: {{ $json.results[0].title }}\n- URL: {{ $json.results[0].url }}\n- Content: {{ $json.results[0].content }}\n\n\nSource 2: {{ $json.results[1].title }}\n- URL: {{ $json.results[1].url }}\n- Content: {{ $json.results[1].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "8edcc64b-a84c-4009-886c-15a57535ce95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "### Setup Guide\n**This workflow uses [Tavily](https://tavily.com/) for web search**\n- [ ] Create an account on Tavily\n- [ ] Get the API token and paste into the HTTP Request node below",
        "height": 180,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -240
      ],
      "typeVersion": 1,
      "id": "6d23bbc2-8945-4500-94a9-3959f7aa7219",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f74a9cf-bb18-460c-ad5b-4fddbc9e1812",
  "meta": {
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "txjbdK6h5EifuP2a",
  "tags": [
    {
      "createdAt": "2025-02-24T17:39:39.549Z",
      "updatedAt": "2025-02-24T17:39:39.549Z",
      "id": "6YLRGtxKEQMBz4wc",
      "name": "***Template***"
    },
    {
      "createdAt": "2025-02-25T04:48:06.360Z",
      "updatedAt": "2025-02-25T04:48:06.360Z",
      "id": "yukdQZDm5Z938AYa",
      "name": "Tool"
    }
  ]
}