n8n/AI Agents/n8n/Ultimate Content Agent/Content - YT Management Agent.json
{
  "name": "***Content - YT Management Agent***",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my project manager in charge of managing my content.\n\nPlease help with: {{ $json.vidAgentPrompt }}\n\n\nYou have access to the following tools:\n\n- video progress, gets videos and their status: video ideas have the following statuses\n    - Idea\n    - Scripted\n    - Scheduled\n    - Done\n\n- create video idea: creates a page in Notion that should be put under the scripted section. On the body of the Page you should list...\n  - the topic of the video\n  - 5 video titles under 55 characters optomized for SEO\n  - give an outline for the video\n  - give a brief but engaging intro for the video",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "e4e11c62-0768-4d93-98a4-00ad45d5dddf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "id": "91ab28b6-8a3b-415d-b9a7-aea6ba27d118",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DavIMt1PnUQ9Imnh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.telegramChatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "id": "6bf37973-d4ab-4322-8df1-6ba3909a3c72",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "video progress",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1a675af7-247e-80bd-9446-e8a8a342e9dc",
          "mode": "list",
          "cachedResultName": "Content Ideas",
          "cachedResultUrl": "https://www.notion.so/1a675af7247e80bd9446e8a8a342e9dc"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "={{ $fromAI(\"ideaStatus\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        640,
        220
      ],
      "id": "4e23e891-fb2f-4d80-b45d-5c886c51cc5a",
      "name": "Get Videos",
      "credentials": {
        "notionApi": {
          "id": "pU13RPGwe3ODBuFv",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "vidAgentPrompt"
            },
            {
              "name": "telegramChatId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "72ba1545-cc75-4b48-a0c8-bdf1cc871d5f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to create a video idea",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "19f75af7-247e-8064-8942-f6476d938bb5",
          "mode": "list",
          "cachedResultName": "Ideas for Content",
          "cachedResultUrl": "https://www.notion.so/19f75af7247e80648942f6476d938bb5"
        },
        "title": "={{ $fromAI(\"title\") }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Scripted"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $fromAI(\"BodyOfPage\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        480,
        220
      ],
      "id": "f4d48990-934b-4ecd-bdae-21495f59972b",
      "name": "Create Vid Idea",
      "credentials": {
        "notionApi": {
          "id": "pU13RPGwe3ODBuFv",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Setup Guide\n- [ ] Create a database in Notion\n- [ ] Connect your account & edit Notion tools\n- [ ] Adjust AI Agent prompt\n- [ ] Connect OpenAI (if not already)",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -320
      ],
      "typeVersion": 1,
      "id": "d999f5da-f1fc-408e-b9e2-0bb8e5831128",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Get Videos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vid Idea": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99e8056f-80cc-41a7-bd75-807ea29d1f44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16629a77b4219fe54201636e06c0d2eb72b1bdad86870b51670c815092d7bb05"
  },
  "id": "jnUORXPzdi9Xu8VJ",
  "tags": [
    {
      "createdAt": "2025-02-24T17:35:26.191Z",
      "updatedAt": "2025-02-24T17:36:01.451Z",
      "id": "YmkIGZIuf6UXSIaV",
      "name": "Content Agent"
    }
  ]
}